---
layout: default
title: Home
permalink: /
image: /assets/img/og-card.png
---

<header>
    <div class="header-overlay">
        <div class="container">
            <div class="header-box">
                <img src="{{ "/assets/img/RM-logo-horizontal.png" | relative_url }}" alt="" class="logo">
                <p>
                    BF3: Reality Mod is a BF3 modification with focus on team play, communication & combined arms. It's set in the real world starting from the end of the Cold War to modern day conflicts.
                </p>
                <a href="https://www.youtube.com/watch?v=8iglogpxZjk" target="_blank" class="btn btn-secondary">
                    Watch the trailer
                </a>
                <a href="/#play" class="btn btn-primary">
                    How to Play
                </a>
            </div>
        </div>
    </div>
    <div class="container" id="before_first_section_wrapper">
        <div id="before_first_section">
            <a href="/#about">
                <i class="las la-info-circle"></i>
                <div>
                    <span class="title">
                        About
                    </span>
                    <span class="desc">
                        Learn more about the mod
                    </span>
                </div>
            </a>
            <a href="/#news">
                <i class="las la-newspaper"></i>
                <div>
                    <span class="title">
                        News
                    </span>
                    <span class="desc">
                        News, announcments and development blog
                    </span>
                </div>
            </a>
            <a href="/media">
                <i class="las la-photo-video"></i>
                <div>
                    <span class="title">
                        Media
                    </span>
                    <span class="desc">
                        Check out our images and videos
                    </span>
                </div>
            </a>
        </div>
    </div>
</header>

<section id="play" class="content scrollspy">
    <div class="container">
        <h2 class="section-title">How to play</h2>
        <p>
            Reality Mod uses Venice Unleashed - a modding and improvement framework for Battlefield 3. We've been working closely together with the VU Devs since the very start. The RM team helped requesting, testing and engineering new features that were required for a complete modding toolset.
        </p>
        <br/>
        <div class="alert warning">
            <div class="alert-icon">
                <i class="las la-exclamation-triangle"></i>
            </div>
            <div class="alert-body">
                You'll need a legit, licensed and up-to-date version of Battlefield 3™ with all DLCs installed to play Reality Mod
            </div>
        </div>
        <br/>
        <div class="how-to-play">
            <div class="how-to-play-item">
                <div class="how-to-play-item-step">1</div>
                <div class="how-to-play-item-content">
                    Install and launch Battlefield 3™ at least once
                </div>
            </div>
            <div class="how-to-play-item">
                <div class="how-to-play-item-step">2</div>
                <a class="how-to-play-item-content" href="https://veniceunleashed.net/download" target="_blank">
                    Download and install the Venice Unleashed Client
                </a>
            </div>
            <div class="how-to-play-item">
                <div class="how-to-play-item-step">3</div>
                <div class="how-to-play-item-content">
                    Launch the Venice Unleashed Client, create your account and link it to your Origin
                    <small class="hint">Make sure you run Origin / EA App in the background</small>
                </div>
            </div>
            <div class="how-to-play-item">
                <div class="how-to-play-item-step">4</div>
                <div class="how-to-play-item-content">
                    Join a Reality Mod server of your choice and start playing
                </div>
            </div>
            <div class="how-to-play-item">
                <div class="how-to-play-item-step">5</div>
                <a class="how-to-play-item-content discord" href="https://discord.gg/realitymod" target="_blank">
                    Join our discord server
                    <small class="hint">If you are having troubles installing or playing Reality Mod feel free to contact us here</small>
                </a>
            </div>
        </div>
        <br/>
        <a href="https://wiki.bf3reality.com/en/guides/community-guide#getting-started" target="_blank" class="btn btn-secondary">
            <i class="las la-info-circle"></i>
            In-depth guide
        </a>
        <a href="https://www.youtube.com/watch?v=FfZyn3D6p7A" target="_blank" class="btn btn-primary">
            <i class="lab la-youtube"></i>
            Video guide
        </a>
    </div>
</section>

<section id="about" class="content scrollspy">
    <div class="container">
        <h2 class="section-title">About the mod</h2>
        <p>
            Our fundamental goal is to create an immersive gameplay and a more realistic experience. We are designing and developing all aspects of the game around this goal.
        </p>
        <div class="grid">
            <div>
                <div class="h4 about-title">
                    SETTING
                </div>
                <p>
                    BF3: RM is a BF3 modification with focus on team play, communication & combined arms. It's set in the real world starting from the end of the Cold War to modern day conflicts
                </p>
            </div>
            <div>
                <div class="h4 about-title">
                    GAMEPLAY
                </div>
                <p>
                    The mod draws most of its inspiration from the successful BF2 "Project Reality" mod, and offers a complete gameplay and UI overhaul that creates a more tactical and in-depth experience compared to vanilla BF3
                </p>
            </div>
            <div>
                <div class="h4 about-title">
                    GOAL
                </div>
                <p>
                    To create an immersive gameplay and a more realistic experience. We are designing and developing all aspects of the game around this goal.
                </p>
            </div>
        </div>
        <h3>Features</h3>
        <div class="grid features-grid">
            <div>
                <span class="icon">
                    <i class="las la-gamepad"></i>
                </span>
                <div class="tags">
                    <span class="tag success">
                        <i class="las la-check"></i>
                        COMPLETED
                    </span>
                </div>
                <h4>UI & GAMEPLAY</h4>
                <p>Completely reworked gameplay and UI aimed for more tactical team play compared to BF3</p>
            </div>
            <div>
                <span class="icon">
                    <i class="las la-mountain"></i>
                </span>
                <div class="tags">
                    <span class="tag success">
                        <i class="las la-check"></i>
                        COMPLETED
                    </span>
                </div>
                <h4>LARGE SCALE BATTLES</h4>
                <p>80 players on a server with the extended BF3 maps</p>
            </div>
            <div>
                <span class="icon">
                    <i class="las la-microphone"></i>
                </span>
                <div class="tags">
                    <span class="tag success">
                        <i class="las la-check"></i>
                        COMPLETED
                    </span>
                </div>
                <h4>IN-GAME VOIP</h4>
                <p>Multiple ingame radio channels, including positional audio</p>
            </div>
            <div>
                <span class="icon">
                    <i class="las la-cloud-sun-rain"></i>
                </span>
                <div class="tags">
                    <span class="tag success">
                        <i class="las la-check"></i>
                        COMPLETED
                    </span>
                </div>
                <h4>DYNAMIC VISUAL ENVIRONMENT</h4>
                <p>Dynamic weather elements and 24 hours day-night cycles</p>
            </div>
            <div>
                <span class="icon">
                    <i class="las la-tachometer-alt"></i>
                </span>
                <div class="tags">
                    <div class="tags">
                        <span class="tag warning">
                            <i class="las la-hourglass-half"></i>
                            IN-PROGRESS
                        </span>
                    </div>
                </div>
                <h4>FROSTBITE ENGINE</h4>
                <p>Immersive, atmospheric visuals - Frostbite Engine's Destruction, VFX & physics</p>
            </div>
            <div>
                <span class="icon">
                    <i class="las la-file-audio"></i>
                </span>
                <div class="tags">
                    <span class="tag warning">
                        <i class="las la-hourglass-half"></i>
                        IN-PROGRESS
                    </span>
                </div>
                <h4>CUSTOM CONTENT</h4>
                <p>New textures, models, maps, game modes, etc.</p>
            </div>
        </div>
        <div>
            <a href="/features" class="btn btn-primary">
                More details
            </a>
            <a href="/features#roadmap" class="btn btn-secondary">
                Roadmap
            </a>
        </div>
    </div>
</section>

<section id="news" class="content scrollspy">
    <div class="container">
        <h2 class="section-title">LATEST NEWS</h2>
        <div class="filter">
            <div class="tags">
                {% for category in site.categories %}
                    <a href="/{{ category|first|slugify }}" class="tag {{ category|first|slugify }}">
                        {{ category|first }}
                    </a>
                {% endfor %}
                <!--a href="#" class="tag announcements">
                    Announcements
                </a>
                <a href="#" class="tag devblog">
                    Devblog
                </a>
                <a href="#" class="tag patch-notes">
                    Patch Notes
                </a-->
            </div>
        </div>
        <div class="blog-posts-container">
            {% for post in site.posts limit:4 %}
                <div class="blog-post">
                    {%- if post.image -%}
                        <a href="{{ post.url }}" class="blog-post-image" title="{{ post.title }}">
                            <img src="{{ post.image }}" alt="{{ post.title }}" />
                        </a>
                    {%- endif -%}
                    <div class="blog-post-body">
                        <a href="{{ post.url }}">
                            <div class="post-title">
                                {{ post.title }}
                            </div>
                        </a>
                        <div class="tags">
                            {% for category in post.categories %}
                                <a href="/{{ category|slugify }}" class="tag {{ category|slugify }}">
                                    {{ category }}
                                </a>
                            {% endfor %}
                            <span class="tag secondary">
                                {{ post.date | date_to_string: "ordinal", "US" }}
                            </span>
                        </div>
                        {{ post.excerpt }}
                    </div>
                </div>
            {% endfor %}
        </div>
        <div>
            <a href="/news" class="btn btn-primary">
                More news
            </a>
        </div>
    </div>
</section>
