<footer>
    <div class="container">
        <div class="footer-left">
            <p class="copyright">© <script>document.write(Date().split` `[3])</script>, BF3: Reality Mod</p>
            <p class="project">This project is not affiliated with Electronic Arts Inc. or EA Digital Illusions CE AB. Battlefield and Origin are registered trademarks of Electronic Arts Inc. All company, product, and service names, logos, and brands, and any other copyrighted materials are property of their respective owners and are used for identification purposes only. Use of these materials does not imply endorsement.</p>
        </div>
        <div class="footer-right">
            <a href="https://discord.gg/eGcssNRhuX" target="_blank" class="menu-item-social">
                <i class="lab la-discord"></i>
            </a>
            <a href="https://twitter.com/Bf3RealityMod" target="_blank" class="menu-item-social">
                <i class="lab la-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCdx0YZzZrdwQty1CeQFyqhw" target="_blank" class="menu-item-social">
                <i class="lab la-youtube"></i>
            </a>
            <a href="https://www.patreon.com/bf3realitymod" target="_blank" class="menu-item-social">
                <i class="lab la-patreon"></i>
            </a>
        </div>
    </div>
</footer>
<script type="text/javascript" src={{ "/assets/js/lightbox.js" | relative_url }}></script>
<link rel="stylesheet" href={{ "/assets/css/lightbox.css" | relative_url }}>
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script>
    const swiper = new Swiper('.swiper', {
        direction: 'horizontal',
        loop: true,
        slidesPerView: 3,
        autoplay: true,
    });
</script>
