<div class="main-menu">
    <div class="main-menu-container">
        <a href="/" class="logo">
            <img src="{{ "/assets/img/rm.png" | relative_url }}" alt="Bf3: Reality Mod">
        </a>
        <div class="menu-left">
            <a href="/#about" class="menu-item">About</a>
            <a href="/#news" class="menu-item">News</a>
            <a href="/media" class="menu-item {% if page.url == '/media/' %}active{% endif %}">Media</a>
            <a href="/team" class="menu-item {% if page.url == '/team/' %}active{% endif %}">The team</a>
            <a href="/servers" class="menu-item {% if page.url == '/servers/' %}active{% endif %}">Servers</a>
            <a href="https://wiki.bf3reality.com/en/guides" target="_blank" class="menu-item">Guides</a>
        </div>
        <div class="menu-right">
            <a href="https://discord.gg/realitymod" target="_blank" class="menu-item-social" aria-label="Discord">
                <i class="lab la-discord"></i>
            </a>
            <a href="https://twitter.com/Bf3RealityMod" target="_blank" class="menu-item-social" aria-label="Twitter">
                <i class="lab la-twitter"></i>
            </a>
            <a href="https://www.youtube.com/@bf3realitymod" target="_blank" class="menu-item-social" aria-label="YouTube">
                <i class="lab la-youtube"></i>
            </a>
            <a href="https://www.patreon.com/bf3realitymod" target="_blank" class="menu-item-social" aria-label="Patreon">
                <i class="lab la-patreon"></i>
            </a>
            <a href="/#play" class="menu-item play">
                Play RM
            </a>
            <a href="#" class="mobile-menu-toggle" id="mobile_menu_toggle" aria-label="Mobile menu">
                <i class="las la-bars"></i>
            </a>
        </div>
    </div>
</div>
<div class="mobile-menu" id="mobile_menu">
    <div class="items">
        <a href="/#about" class="menu-item">About</a>
        <a href="/#news" class="menu-item">News</a>
        <a href="/media" class="menu-item {% if page.url == '/media/' %}active{% endif %}">Media</a>
        <a href="/team" class="menu-item {% if page.url == '/team/' %}active{% endif %}">The team</a>
        <a href="/servers" class="menu-item {% if page.url == '/servers/' %}active{% endif %}">Servers</a>
        <a href="https://wiki.bf3reality.com/en/guides" class="menu-item">Guides</a>
    </div>
    <div class="socials">
        <a href="https://discord.gg/realitymod" target="_blank" class="menu-item-social">
            <i class="lab la-discord"></i>
        </a>
        <a href="https://twitter.com/Bf3RealityMod" target="_blank" class="menu-item-social">
            <i class="lab la-twitter"></i>
        </a>
        <a href="https://www.youtube.com/@bf3realitymod" target="_blank" class="menu-item-social">
            <i class="lab la-youtube"></i>
        </a>
        <a href="https://www.patreon.com/bf3realitymod" target="_blank" class="menu-item-social">
            <i class="lab la-patreon"></i>
        </a>
    </div>
</div>
