---
---

section#media_kit {
    scroll-margin: 75px;
    background: #111212;
}

section#videos {
    .video-grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    
        iframe {
            width: 100%;
            height: 300px;
        }
    }
}
