---
---

.post-details {
    background: rgb(12, 13, 14);
    padding: 14px 0;

    .container {
        max-width: 860px;
    }

    .post-meta {
        margin: 0;
        display: flex;
        flex-flow: column;
        align-items: flex-start;

        time {
            margin-bottom: 5px;
            font-size: .85rem;
            opacity: .8;
        }
    }
}

.post-content-full,
.post-content {
    margin: 45px 0;

    .container {
        max-width: 860px;
    }

    .tags {
        margin-top: 30px;
    }

    iframe {
        margin: 35px auto;
        display: block;
    }

    h1 {
        margin: 5rem 0 .5rem;
        color: var(--yellow);
        font-size: 2.75rem;
    }

    h2 {
        margin: 2.5rem 0 .5rem;
        font-size: 1.5rem;
    }

    h3 {
        margin: 2.5rem 0 .5rem;
        font-size: 1.25rem;
        color: var(--blue);
    }

    a.lightbox-image {
        margin: 3rem 0;
        text-align: center;
        width: 100%;
        display: flex;
        align-items: center;
        flex-flow: column;
        text-decoration: none !important;

        img {
            max-width: 700px;
        }

        small {
            margin-top: .75rem;
            color: #fff;
            opacity: .7;
        }
    }
}


.post-content-full {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .post-details {
        .post-meta {
            font-size: .8rem;
        }
    }

    .post-content-full,
    .post-content {
        a.lightbox-image {
            img {
                max-width: 80vw;
            }
        }
    }
}
